In [1]:
import numpy as np
import pandas as pd
import os
from matplotlib import pyplot as plt
from astropy.io import fits
from astropy.table import Table
from astropy.coordinates import SkyCoord
from astropy import units as u

In [20]:
def get_name(file):
    if 'pz_act' in file:
        return file[5:13]
    return file[5:9]

In [23]:
def calc_error(det_cat, true_cat, shift=15/60, match_dist=5/60, n_try=20, seed=0):
    import numpy as np
    from astropy.coordinates import SkyCoord
    from astropy import units as u
    
    error = []
    np.random.seed(seed)
    for i in range(n_try):
        det_sc = SkyCoord(ra=np.array(det_cat['RA']) * u.degree, 
                          dec=np.array(det_cat['DEC']) * u.degree, frame='icrs')
        angles = np.random.randint(0, 360, len(det_cat))
        det_sc = det_sc.directional_offset_by(angles*u.degree, shift)

        true_sc = SkyCoord(ra=np.array(true_cat['RA']) * u.degree, 
                           dec=np.array(true_cat['DEC']) * u.degree, frame='icrs')
        _, d2d, _ = det_sc.match_to_catalog_sky(true_sc)
        c_error = np.count_nonzero(d2d.degree < match_dist)
        error.append(c_error)
    error = np.array(error)
    return error.mean(), error.std() / np.sqrt(n_try - 1)

In [56]:
def gen_tables(det_cats_files, true_cats_files, z_cut = -1, m_cut=-1, match_dist=5/60):
    
    true_cats = {os.path.splitext(os.path.basename(file))[0] : pd.read_csv(file) for file in true_cats_files}
    det_cats = {get_name(os.path.splitext(os.path.basename(file))[0]) : 
                pd.read_csv(file) for file in det_cats_files}
    
    comp_df = []
    recall_df = []
    
    for det_name in det_cats:
        det = det_cats[det_name]
        det = det[det['status'] != 'fn']
        det.index = np.arange(len(det))
        line = {}
        line_r = {}

        det_sc = SkyCoord(ra=np.array(det['RA'])*u.degree, 
                      dec=np.array(det['DEC'])*u.degree, frame='icrs')

        for tr_name in true_cats:
            
            if tr_name == 'RM' and (z_cut > -1 or m_cut > -1):
                continue
            tr = true_cats[tr_name]
            if z_cut > -1:    
                tr = tr[tr['z'] > z_cut]
            if m_cut > -1:
                tr = tr[tr['M500'] > m_cut]
            tr.index = np.arange(len(tr))
            
            tr_sc = SkyCoord(ra=np.array(tr['RA'])*u.degree, 
                          dec=np.array(tr['DEC'])*u.degree, frame='icrs')
            
            idx, d2d, _ = det_sc.match_to_catalog_sky(tr_sc)
            matched = d2d.degree <= match_dist
            
            line[tr_name] = np.count_nonzero(matched)
            line[tr_name+'_err'], line[tr_name+'_std'] = calc_error(det, tr)

            line_r[tr_name] = line[tr_name] / len(tr)
            
        line['all'] = len(det)
        line['fp'] = np.count_nonzero(det['status'] == 'fp')
        line_r['fp'] = line['fp']
        line_r['all'] = line['all']
        comp_df.append(pd.DataFrame(line, index=[det_name]))
        recall_df.append(pd.DataFrame(line_r, index=[det_name]))
        line = {}
    
    for tr_name in true_cats:
        if tr_name == 'RM' and (z_cut > -1 or m_cut > -1):
            continue
        tr = true_cats[tr_name]
        if z_cut > -1:    
            tr = tr[tr['z'] > z_cut]
        if m_cut > -1:
            tr = tr[tr['M500'] > m_cut]
        tr.index = np.arange(len(tr))
        
        line[tr_name] = len(tr)
        line[tr_name+'_err'] = 0
    line['fp'] = 0
    line['all'] = 0
    comp_df.append(pd.DataFrame(line, index=['all']))
    
    comp_df = pd.concat(comp_df)
    recall_df = pd.concat(recall_df)
    
    return comp_df, recall_df

In [57]:
tr_dir = '/home/rt2122/Data/original_catalogs/csv/'
true_cats_files = [os.path.join(tr_dir, name) for name in next(os.walk(tr_dir))[-1]]
det_dir = '/home/rt2122/Data/detected_cats/'
#det_cats_files = [os.path.join(det_dir, name) for name in next(os.walk(det_dir))[-1] if 'full' in name]
det_cats_files = ['/home/rt2122/Data/detected_cats/full_pz14_thr0.1_step8.csv', 
                 '/home/rt2122/Data/detected_cats/full_pz_act10_thr0.1_step8.csv']
comp, recall = gen_tables(det_cats_files, true_cats_files)
comp

,RSZ2,RSZ2_err,RSZ2_std,MCXC,MCXC_err,MCXC_std,RM,RM_err,RM_std,ACT,ACT_err,ACT_std,all,fp
pz14,1491,15.75,1.073300,725,17.95,0.838153,1242,298.75,3.305398,849,43.25,1.389576,17968,15828
pz_act10,1361,13.20,0.936398,659,13.65,0.785644,1029,206.60,3.642873,926,30.65,1.076727,18363,16316
all,1653,0.00,NaN,1743,0.00,NaN,26111,0.00,NaN,4195,0.00,NaN,0,0

In [58]:
recall

              RSZ2      MCXC        RM       ACT     fp    all
pz14      0.901996  0.415950  0.047566  0.202384  15828  17968
pz_act10  0.823351  0.378084  0.039409  0.220739  16316  18363

In [59]:
comp, recall = gen_tables(det_cats_files, true_cats_files, m_cut=4)
comp

,RSZ2,RSZ2_err,RSZ2_std,MCXC,MCXC_err,MCXC_std,ACT,ACT_err,ACT_std,all,fp
pz14,702,7.65,0.726473,224,2.50,0.380443,260,3.2,0.401314,17968,15828
pz_act10,660,5.75,0.648379,219,1.95,0.358909,249,2.0,0.316228,18363,16316
all,713,0.00,NaN,264,0.00,NaN,342,0.0,NaN,0,0

In [60]:
recall

              RSZ2      MCXC       ACT     fp    all
pz14      0.984572  0.848485  0.760234  15828  17968
pz_act10  0.925666  0.829545  0.728070  16316  18363

In [61]:
comp, recall = gen_tables(det_cats_files, true_cats_files, m_cut=4, z_cut=0.5)
comp

,RSZ2,RSZ2_err,RSZ2_std,MCXC,MCXC_err,MCXC_std,ACT,ACT_err,ACT_std,all,fp
pz14,94,1.2,0.312881,11,0.2,0.11698,72,1.00,0.261574,17968,15828
pz_act10,85,0.5,0.153897,11,0.1,0.10000,68,0.45,0.135239,18363,16316
all,97,0.0,NaN,13,0.0,NaN,132,0.00,NaN,0,0

In [62]:
recall

              RSZ2      MCXC       ACT     fp    all
pz14      0.969072  0.846154  0.545455  15828  17968
pz_act10  0.876289  0.846154  0.515152  16316  18363

In [63]:
comp, recall = gen_tables(det_cats_files, true_cats_files, m_cut=5)
comp

,RSZ2,RSZ2_err,RSZ2_std,MCXC,MCXC_err,MCXC_std,ACT,ACT_err,ACT_std,all,fp
pz14,486,5.25,0.561366,118,1.55,0.266310,142,1.75,0.227977,17968,15828
pz_act10,463,4.20,0.521132,118,0.85,0.254176,133,0.85,0.220943,18363,16316
all,490,0.00,NaN,137,0.00,NaN,153,0.00,NaN,0,0

In [64]:
recall

              RSZ2      MCXC       ACT     fp    all
pz14      0.991837  0.861314  0.928105  15828  17968
pz_act10  0.944898  0.861314  0.869281  16316  18363

In [65]:
comp, recall = gen_tables(det_cats_files, true_cats_files, m_cut=5, z_cut=0.5)
comp

,RSZ2,RSZ2_err,RSZ2_std,MCXC,MCXC_err,MCXC_std,ACT,ACT_err,ACT_std,all,fp
pz14,88,1.15,0.318508,9,0.15,0.081918,40,0.55,0.223312,17968,15828
pz_act10,81,0.50,0.153897,9,0.00,0.000000,35,0.05,0.050000,18363,16316
all,89,0.00,NaN,9,0.00,NaN,50,0.00,NaN,0,0

In [66]:
recall

              RSZ2  MCXC  ACT     fp    all
pz14      0.988764   1.0  0.8  15828  17968
pz_act10  0.910112   1.0  0.7  16316  18363